html {
  height: 100%; }

body {
  margin: 0 auto;
  height: 100%;
  width: 100%; }

.home-page {
  height: 100%;
  background: #383838 url(../images/pattern.png) repeat; }
  .home-page article {
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 20%;
    text-align: center; }
    .home-page article h1 {
      font-size: 2em;
      font-family: 'Roboto', Roboto, sans-serif;
      text-transform: uppercase;
      color: #383838;
      letter-spacing: 2px; }
    .home-page article .johnnyDescContainer {
      height: 94px; }
    .home-page article h2 {
      color: #383838;
      font-family: 'Georgia';
      font-style: italic; }
  .home-page #movePageDown {
    color: #383838;
    position: absolute;
    bottom: 15px;
    left: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    animation: bounce infinite 3s 1s forwards; }
  .home-page .giga, .home-page .hero-title-carousel {
    font-size: 18px;
    line-height: 20px;
    font-weight: 100; }

header {
  width: 100%;
  height: 60px;
  transition: all 0.7s ease; }
  header div.bars {
    cursor: pointer;
    display: inline-block;
    height: 40px;
    border-radius: 5px;
    transition: 0.3s all ease;
    width: 35px;
    background: #383838;
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 100; }
    header div.bars span {
      top: 5px;
      left: 5px; }
    header div.bars span:nth-child(2) {
      display: block;
      height: 3px;
      width: 25px;
      border-radius: 2.85714px;
      transition: 0.3s;
      background: #C0B283;
      position: relative;
      opacity: 1;
      transform: scale3d(1, 1, 1); }
    header div.bars span:nth-child(3), header div.bars span:nth-child(1) {
      display: block;
      margin: 5px 0;
      height: 3px;
      width: 25px;
      border-radius: 2.85714px;
      transition: 0.3s;
      background: #C0B283;
      position: relative;
      -webkit-transform-origin: 2.85714px center;
      transform-origin: 2.85714px center; }
  header .close span:nth-child(2) {
    transform: scale3d(0, 0, 0) !important; }
  header .close span:nth-child(1) {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg) translate(3px, -2px); }
  header .close span:nth-child(3) {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, -45deg) translate(3px, 1px); }
  header #side-nav {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 50;
    opacity: 0;
    transition: 0.5s all ease;
    visibility: hidden; }
    header #side-nav section {
      width: 50%;
      height: 50%;
      float: left;
      background-color: rgba(255, 255, 255, 0.5); }
    header #side-nav section:nth-child(1), header #side-nav section:nth-child(4) {
      background-color: #C0B283;
      opacity: 1;
      transition: 0.5s all ease;
      color: #383838; }
      header #side-nav section:nth-child(1):hover, header #side-nav section:nth-child(4):hover {
        opacity: .8;
        transition: 0.5s all ease; }
      header #side-nav section:nth-child(1) .material-icons, header #side-nav section:nth-child(4) .material-icons {
        color: #383838; }
    header #side-nav section:nth-child(2), header #side-nav section:nth-child(3) {
      background-color: #383838;
      opacity: 1;
      transition: 0.5s all ease;
      color: #C0B283; }
      header #side-nav section:nth-child(2):hover, header #side-nav section:nth-child(3):hover {
        opacity: .8;
        transition: 0.5s all ease; }
      header #side-nav section:nth-child(2) .material-icons, header #side-nav section:nth-child(3) .material-icons {
        color: #C0B283; }
  header #side-nav.open {
    opacity: 1;
    visibility: visible;
    top: 0;
    transition: 0.5s all ease; }
    header #side-nav.open section {
      cursor: pointer; }
  header .nav-box {
    position: relative;
    top: 40%;
    text-align: center; }
  header.sticky {
    font-size: 24px;
    line-height: 48px;
    height: 48px;
    background: #efc47d;
    text-align: left;
    padding-left: 20px;
    transition: all 0.7s ease; }

.overflow--hidden {
  overflow: hidden; }

.text-mask {
  position: relative;
  top: 7px;
  display: block;
  width: 100%; }

.text-mask-hidden-left {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  transform: translateX(-100%); }

ul, li {
  list-style: none;
  position: absolute;
  width: 100%; }

[class*="cubic-easeinout"] {
  -webkit-transition: -webkit-transform cubic-bezier(0.19, 1, 0.22, 1), opacity cubic-bezier(0.19, 1, 0.22, 1), background-color cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: -moz-transform cubic-bezier(0.19, 1, 0.22, 1), opacity cubic-bezier(0.19, 1, 0.22, 1), background-color cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: -moz-transform cubic-bezier(0.19, 1, 0.22, 1), opacity cubic-bezier(0.19, 1, 0.22, 1), background-color cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: -o-transform cubic-bezier(0.19, 1, 0.22, 1), opacity cubic-bezier(0.19, 1, 0.22, 1), background-color cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform cubic-bezier(0.19, 1, 0.22, 1), opacity cubic-bezier(0.19, 1, 0.22, 1), background-color cubic-bezier(0.19, 1, 0.22, 1); }

[class*="--fast"] {
  -webkit-transition-duration: 1s, 1s, 1s;
  -moz-transition-duration: 1s, 1s, 1s;
  -ms-transition-duration: 1s, 1s, 1s;
  -o-transition-duration: 1s, 1s, 1s;
  transition-duration: 1s, 1s, 1s; }

.delay-075s {
  -webkit-transition-delay: 0.075s;
  -moz-transition-delay: 0.075s;
  -ms-transition-delay: 0.075s;
  -o-transition-delay: 0.075s;
  transition-delay: 0.075s; }

.hero-title-carousel-reveal {
  -webkit-transform: translateY(100%) translateZ(0);
  /* Safari */
  -ms-transform: translateY(100%) translateZ(0);
  /* IE 9 */
  transform: translateY(100%) translateZ(0); }

.hero-title-carousel-hide {
  opacity: 0 !important;
  -webkit-transform: translateY(-100%) translateZ(0) !important;
  -ms-transform: translateY(-100%) translateZ(0) !important;
  transform: translateY(-100%) translateZ(0) !important; }

.text-animate {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 22px; }

.hero-title-carousel li {
  display: block;
  position: absolute; }

.letter-pull--upper-b, .letter-pull--upper-d, .letter-pull--upper-e, .letter-pull--upper-f, .letter-pull--upper-h, .letter-pull--upper-k, .letter-pull--upper-m, .letter-pull--upper-n, .letter-pull--upper-p, .letter-pull--upper-r, .letter-pull--lower-i {
  margin-left: -0.111em !important; }

@keyframes bounce {
  0% {
    transform: translateY(0px);
    opacity: .8; }
  25% {
    transform: translateY(5px);
    opacity: 1; }
  50% {
    transform: translateY(0px);
    opacity: .8; }
  75% {
    transform: translateY(5px);
    opacity: 1; }
  100% {
    transform: translateY(0px);
    opacity: .8; } }
.nav-box i {
  font-size: 72px !important;
  color: #fff; }

/*# sourceMappingURL=home.css.map */
